.projectList{
	padding: 50px 20px;
	width: 80%;
	margin: 10px auto;
	border-radius: 20px;
	background-color: #F1FAFA;
	border: 1px solid #d0d0d0;
}

.project-talbe{
	border: 2px solid #479AC7;
	border-radius: 20px;
}
.project-talbe tr td,.project-talbe tr th{
	padding: 25px;
	border: 2px solid #479AC7;
	width: 20%;
}
/*.project-talbe tr td:first-child,.project-talbe tr th:first-child{
	width: 5%;
}
*/

/*
.project-talbe tr td:nth-child(3),.project-talbe tr th:nth-child(3){
	width: 35%;
}*/
.foot-div{
	width: 100%;
	position:fixed;
    bottom:0;
}
.nav{
	width:100%;
	
}